# KREDENSIAL SUPABASE PROYEK LAMA (UNTUK LOGIN / AUTH)
VITE_SUPABASE_URL_AUTH=https://uiqvpwvxuavunbheooqp.supabase.co
VITE_SUPABASE_ANON_KEY_AUTH=sb_publishable_2X5EWWyhVXIZcM-F4wBl7g_Ww8Q7nEI

# KREDENSIAL SUPABASE PROYEK BARU (UNTUK DATA ANOMALI)
VITE_SUPABASE_URL_DATA=https://uiqvpwvxuavunbheooqp.supabase.co
VITE_SUPABASE_ANON_KEY_DATA=sb_publishable_2X5EWWyhVXIZcM-F4wBl7g_Ww8Q7nEI